p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


h1 {
    font-family: 'Concert One', cursive;
    font-size: 2rem;
}


h2{
    font-family: 'Concert One', cursive; 
    font-display: ;
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}
h3 {
    font-family: 'Concert One', cursive;
    font-size: 1.75rem;
    padding-top: 1rem;
}

h4 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

h5{
    font-size: .75rem;
}

@media (min-width: 992px) { 

.imgres{
    max-width: 50%;
    
}
}


@media (min-width: 768px) { 
    
    .textsz{
        font-size:18px ;
        padding: 0.75rem
    }
 }

 .body1 {
    height: 100%;
    background: #;
    background: linear-gradient( to top, #F8F8FF, #FFFFFF);
  }
  
  #page-content {
    flex: 1 0 auto;
  }
  
  #sticky-footer {
    flex-shrink: none;
  }
  
  /* Other Classes for Page Styling */
  
  .bg1 {
    
    border-color: silver;
    border-width: thick;
  }